<main role="main">


 <!-- ***************** WELCOME SECTION *****************  -->

  <div class="container-fluid text-center welcome-intro">
    <div class="row welcome-slogan">
      <div class="col align-self-center">
        <h1>Un mundo de accesorios...</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-1">
        <%= link_to "https://www.facebook.com/motortowncr",  target: "_blank" do %>
          <%= image_tag "facebook-icon", class: "social-media-icon", alt: "Facebook icon"%>
        <% end %>
      </div>
      <div class="col-1">
        <%= link_to "https://www.instagram.com/motortowncr/", class: "social-media-icon", target: "_blank" do %>
          <%= image_tag "instagram-icon", class: "social-media-icon", alt: "Instagram icon"%>
        <% end %>      </div>
    </div>
  </div>

   <!-- ***************** END WELCOME SECTION *****************  -->

  <!-- ***************** ABOUT SECTION *****************  -->
  
  <div class="container-fluid text-center about-container" id="about">
    <div class="row">
      <div class="col align-self-center about-title">
        <h2>&iquest;Por qu&eacute; somos los mejores?</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2 ml-2 mr-2">
        <%= image_tag "variety-icon.png", class: "about-icon", alt: "Variety icon"%>
        <h4>VARIEDAD</h4>
        <p>Tenemos todo tipo de accesorios y servicios para todo tipo de aventura o trabajo</p>
        <p>
          <%= link_to "Ver detalles &raquo;".html_safe,
          welcome_store_path,
          class: "btn btn-dark",
          role: "button"
          %>
        </p>
      </div>
      <div class="col-2 ml-2 mr-2">
        <%= image_tag "service-icon.png", class: "about-icon", alt: "Service icon"%>
        <h4>SERVICIOS</h4>
        <p>Ofrecemos una amplia variedad de servicios, ya sean b&aacute;sicos o modificaciones</p>
        <p>
          <%= link_to "Ver detalles &raquo;".html_safe,
          welcome_garage_path,
          class: "btn btn-dark",
          role: "button"
          %>
        </p>
      </div>
      <div class="col-2 ml-2 mr-2">
        <%= image_tag "quality-icon.png", class: "about-icon", alt: "Quality icon"%>
        <h4>CALIDAD</h4>
        <p>Nos preocupamos por tener las mejores marcas en accesorios y servicios a los mejores precios</p>
        <p>
          <%= link_to "Ver detalles &raquo;".html_safe,
          welcome_service_path,
          class: "btn btn-dark",
          role: "button"
          %>
        </p>
      </div>

    </div>

    
  </div>


  <!-- ***************** END ABOUT SECTION *****************  -->

  <!-- ***************** LOCATION SECTION *****************  -->


    <div class="container" id="location">
      <h1 class="display-4">Horario</h1>
      <div class="row">
        <div class="col-6">
          <ul>
            <li><b>Lunes a Viernes:</b> 8:00am - 6:00pm</li>
            <li><b>Sabado:</b> 8:00am - 3:00pm</li>
          </ul>
        </div>
        <div class="col-6">
          <ul>
            <li><b>Tel:</b> 2232-2313</li>
            <li><b>Direccion:</b> 150mts sur de La Pozuelo, La Uruca</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          
          <%= link_to "https://www.google.co.cr/maps/place/Motor+Town/@9.9510106,-84.1138038,17z/data=!3m1!4b1!4m5!3m4!1s0x8fa0fb4ffec9272d:0x50a953eb0b44805c!8m2!3d9.9510053!4d-84.1116151?hl=en", target: "_blank" do %>
            <%= image_tag "location.png", class: "img-fluid", alt: "Direccion de Motor Town"%>
          <% end %>

        </div>
      </div>
    </div>

    <!-- ***************** END LOCATION SECTION *****************  -->
    
    <!-- ***************** CONTACT SECTION *****************  -->

    <hr>
    <div class="container" id="contact">
      <h1 class="display-4">Contactenos</h1>
      <br>
      <div class="row">
        <div class="col-6">
          <ul>
            <li><b>Tel:</b> 2232-2313</li>
          </ul>
        </div>
        <div class="col-6">
          <ul>
            <li><a href="https://www.facebook.com/motortowncr">facebook.com/motortowncr</a></li>
          </ul>
        </div>
      </div>
      <%= render "contacts/new" %>
      
    </div>

    <!-- ***************** END CONTACT SECTION *****************  -->

  </main>