<!DOCTYPE html>
<html>
  <head>
    <title>Motor Town | Un mundo de accesorios...</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <nav class="navbar navbar-expand-md fixed-top navbar-dark custom-navbar">
    <%= link_to "Motor Town", root_path, class: "nav-item motor-town" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about">Acerca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#location">Donde estamos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contactenos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mas...</a>
          <div class="dropdown-menu custom-navbar" aria-labelledby="dropdown01">
            <%= link_to "Tienda", welcome_store_path, class: "dropdown-item" %>
            <%= link_to "Taller", welcome_garage_path, class: "dropdown-item" %>
            <%= link_to "Servicio", welcome_service_path, class: "dropdown-item" %>
          </div>
        </li>
      </ul>

      <div>
        <% if user_signed_in? %>
          <%= link_to 'Cerrar Sesion', destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
        <% else %>
          <%= link_to 'Ingresar', new_user_session_path, class: "nav-link disabled" %>
        <% end %>
      </div>

    </div>
    
  </nav>

  <body>
    <%= yield %>
  </body>

  <footer class="container-fluid text-center custom-footer">

    <div class="row justify-content-center">
      <div class="col-sm-1 welcome-icon">
        <%= link_to "https://www.facebook.com/motortowncr",  target: "_blank" do %>
          <%= image_tag "facebook-icon.png", class: "social-media-icon", alt: "Facebook icon"%>
        <% end %>
      </div>
      <div class="col-sm-1 welcome-icon">
        <%= link_to "https://www.instagram.com/motortowncr/", class: "social-media-icon", target: "_blank" do %>
          <%= image_tag "instagram-icon.png", class: "social-media-icon", alt: "Instagram icon"%>
        <% end %>      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <p>&copy; Motor Town 2017 - 2018 <br>
        <small>Creado por: <a target="_blank" href="http://germanosta.com/">gemanosta.com</a></small></p>
      </div>
    </div>
  </footer>

</html>